body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
} 

 .game-container {
  width: 1000px;
  height: 625px;
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.game-card {
  width: 100px;
  height: 100px;
  margin: 5px;
  transition: transform 1s;
  transform-style: preserve-3d; 
}

 .game-card:hover {
  transform: scale(1.05)
}

.game-card:active {
  transform: rotateY(180deg) scale(1.05);
} 



.card-front, .card-back {
  position: absolute;
  height: inherit;
  width: inherit;
  backface-visibility: hidden;
  background-size: cover;
}

 .card-front {
  /* filter: grayscale(100%); */
  transition-duration: 1s;
  box-shadow: 5px 5px 10px;
  box-shadow: 5px 5px 10px rgb(55, 55, 55, 0.85);
  
}

.card-front:hover {
  filter: grayscale(0%);
}

.card-back {
  /* background-image: url("./assets/patterns/cork-wallet.png"); */

  box-shadow: 5px 5px 10px;
  box-shadow: 5px 5px 10px rgb(55, 55, 55, 0.85);
}

