body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  color: black;
  background-color: white
}

.darkApp {
  color: white;
  background-color: black
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
} 

.nav-bar {
  height: 30px;
  background-color: #51068f;
  font-family: Rockwell Extra Bold
}


.list {
  font-size: 14px;
  line-height: 1
}

h1 {
  font-family: Rockwell Extra Bold;
  color: rgb(36, 156, 192);
}

h2 {
  font-family: Rockwell;
  color: rgb(36, 156, 192);
}

h3 {
  font-family: Rockwell;
  color: rgb(36, 156, 192);
}

h4 {
  font-family: Rockwell;
  color: rgb(36, 156, 192);
}

h5 {
  font-family: Rockwell;
  color: rgb(36, 156, 192);
}

h6 {
  font-family: Rockwell;
  color: rgb(36, 156, 192);
}

a:link {
  font-weight: bold;
  color: #51068f

}

a:visited {
  
  font-weight: bold;
  color: #51068f

}

a:hover {

  font-weight: bold;
  color: #51068f;
  text-decoration: none
}

 .game-container {
  width: 1000px;
  height: 475px;  
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.game-card {
  width: 150px;
  height: 120px;
  margin: 5px;
  transition: transform 1s;
  transform-style: preserve-3d; 
}

 .game-card:hover {
  transform: scale(1.05)
}

.game-card:active {
  transform: rotateY(180deg) scale(1.05);
} 



.card-front, .card-back {
  position: absolute;
  height: inherit;
  width: inherit;
  backface-visibility: hidden;
  background-size: 100% 100%;
}

 .card-front {
  box-shadow: 5px 5px 10px;
  box-shadow: 5px 5px 10px rgb(55, 55, 55, 0.85);
  
}

.card-front:hover {
  filter: grayscale(0%);
}

.card-back {
  background-image: url("https://previews.123rf.com/images/karenr/karenr1602/karenr160200075/53466382-purple-and-white-question-mark-symbol-pattern-repeat-background-that-is-seamless-and-repeats.jpg");
  box-shadow: 5px 5px 10px;
  box-shadow: 5px 5px 10px rgb(55, 55, 55, 0.85);
}

